header
	a(href="https://mastervision.su", target="_blank")
		img.header-logo(src=path+"img/images/logo-black.svg", alt="Логотип")
	.header-menu
		ul.header-menu-list
			li
				a(href='#for') Для кого практикум
			li
				a(href='#spheres') Влияние практикумов
			li
				a(href='#plan') Содержание практикумов
			li
				a(href='#author') Об эксперте
			li
				a(href='#prices') Тарифы