footer
	.container
		.footer-main
			.row
				.col-md-4
					a(href="https://mastervision.su/", target="_blank")
						img.footer-logo(src=path+"img/images/logo.svg", alt="Логотип")
				.col-md-4
					p Тюмень, проезд Летний, 9а
					p
						a(href="mailto:info@mastervision.su" target='_blank') info@mastervision.su
				.col-md-3.col-md-offset-1
					p
						a(href="tel:+7(991) 222-07-13" target='_blank') +7(991) 222-07-13
		.footer-links
			a(href="https://mastervision.su/privacy" target='_blank') Политика конфиденциальности.
			br
			a(href="https://mastervision.su/public-offer" target='_blank') Публичная оферта.
			.footer-info-item
				p ИП Кудряшов А. А.
				p ИНН 720410077658
			//- a(href="https://iomp.ru/institute" target='_blank') Лицензия