section#main
	.container
		include ../base/1-header
		.content
			+img('main-img', 'img/images/petrova-main.png', 'Анастасия Петрова')
			.row
				.col-md-6
					h1.main-title Защити себя 
						span и своих близких
					h2.main-subtitle Авторские практикумы по&nbsp;постановке защиты от&nbsp;Анастасии Петровой