mixin fi(n,p)
	.for-item
		+img('for-item-img', 'img/images/for-'+n+'.png')
		p.for-item-text!=p

section#for
	.container
		+gt('', 'Кому нужна защита?')
		.for-items
			+fi('1', 'Вы часто ссоритесь с&nbsp;близкими')
			+fi('2', 'Вы часто болеете')
			+fi('3', 'Потеряли смысл жизни')
			+fi('4', 'У&nbsp;ваших детей плохая успеваемость')
			+fi('5', 'Испытываете финансовые трудности')
section#afterfor
	.container
		p.afterfor-text Вы можете находиться под&nbsp;влиянием различных сущностей, которые притягивают негатив вашу жизнь.
		p.afterfor-text Используйте защиту, чтобы обезопасить себя и своих близких от&nbsp;сущностей.