section#spheres
	.container
		+gt('', 'Каждый практикум нацелен на&nbsp;определенную сферу жизни')
		+img('sphere-img', 'img/images/sphere.png', 'Каждый практикум нацелен на определенную сферу жизни')
		.spheres-mob
			+img('spheres-mob-img spheres-mob-img-1', 'img/imsges/sphere-1.png')
			+img('spheres-mob-img spheres-mob-img-1', 'img/imsges/sphere-2.png')
			+img('spheres-mob-img spheres-mob-img-1', 'img/imsges/sphere-3.png')
			+img('spheres-mob-img spheres-mob-img-1', 'img/imsges/sphere-4.png')