mixin sd(n, h4, date, time,...items)
	.day(class='day-'+n)
		h4.day-title!=h4
		.day-date
			p.day-date-text!=date
			p.day-date-text!=time+'мск'
		ul.day-list
			each item in items
				li!=item
mixin adi(n,p)
	.afterplan-item
		+img('afterplan-item-img', '')

section#plan
	.container
		.content
			+img('plan-img plan-img-1', 'img/images/plan-1.png', 'Дым')
			+img('plan-img plan-img-2', 'img/images/plan-2.png', 'Дым')
			.days
				+sd('1', '«Защити себя, свой дом и своё дело»', '1.07.2024', '19:00', 'Диагностика вашего поля, и тонких тел, на&nbsp;наличие негативных и магических воздействий.','Диагностика вашего дома.','Ритуал очищения поля и тонких тел.','Ритуал очищения дома и постановка защиты от&nbsp;врагов.','Ритуал защиты на&nbsp;отдельные части дома, создание оберега ','Ритуал.  Договор с&nbsp;домовым, задабриваем защитника дома. ','Ставим личную защиту и заряжаем амулет.','Создаем защиту для&nbsp;своего дела, бизнеса, рабочего места.','Ставим защиту на&nbsp;свой денежный канал.')
				+sd('2', '«Защити своих детей. Магия для&nbsp;мам»', '10.07.2024', '19:00', 'Диагностика поля и тонких тел вашего ребенка.','Диагностика детского пространства, комната, спальное место&nbsp;','Очищение поля, тонких тел, и детского пространства.','Создание оберега для&nbsp;ребенка с&nbsp;помощью ангела хранителя.','Избавление родителей от&nbsp;негативных разрушительных эмоций оказывающих негативное влияние на&nbsp;детей.','Восстановление защитной связи родителей и ребенка.','Зарядка личного защитного амулета для&nbsp;ребенка.','Молитва за&nbsp;ребенка и благословение.')
				+sd('3', '«Защити свое здоровье»', '31.07.2024', '19:00', 'Диагностика наличия негативных зарядов и элементалий, вызывающих недомогание, болевые симптомы.','Диагностика вашего окружения и выявление причины оттока сил и энергии.','Очищение от привязок и закрытие оттока сил и энергии.','Выкатка яйцом.','Очищение от сущностей.','Создание личной печати здоровья.','Зарядка целительной воды.','Постановка трехуровневой защиты.')
				+sd('4', '«Защити свои отношения»', '3.08.2024','12:00', 'Диагностика отношений и взаимоотношений в&nbsp;паре.','Диагностика негативных и магических воздействий.','Очищение от&nbsp;внутренних и внешних врагов.','Создание и зарядка гармонизатора отношений.','Создание защитного амулета для&nbsp;отношений.','Ритуал Как с&nbsp;помощью амулета закрывать глаза на&nbsp;других женщин.','Защита от&nbsp;соперниц и от&nbsp;измен.','Ритуал примирения после ссор.')
section#afterplan
	.container
		+adi('1', 'Каждый практикум пройдет в&nbsp&nbsp;Zoom, на&nbsp&nbsp;котором Анастасия расскажет и покажет, как правильно накладывать защиту и не&nbsp&nbsp;навредить себе и близким')
		+adi('2', 'Каждый практикум длится от&nbsp;2 до&nbsp;3&nbsp;часов')