section#author
	.container
		h3.author-text Анастасия Петрова
			small Наставник и тренер
	.container
		.row
			.col-md-6
				+img('author-img','img/images/petrova.png', 'Анастасия Петрова')
				.content
					+img('author-img-mob', 'img/images/petrova-mob.png', 'Анастасия Петрова')
			.col-md-6
				.auhtor-about
					p.author-about-text
						span Автор легендарного обучения
						|  по&nbsp;развитию экстрасенсорных способностей «Экстрасенсорное видение». Провела более 50&nbsp;обучающих курсов и тренингов.
					p.author-about-text Обучила за&nbsp;последние 6&nbsp;лет 
						span более 6000 человек
						| , получивших новую профессию, и помогающих людям по&nbsp;всему миру.
					p.author-about-text Маг, 
						span потомственная волшебница
						| , мастер защитной и боевой магии, денежной магии, любовной магии, целитель, регрессолог.
					p.author-about-text
						span Эксперт
						|  на&nbsp;федеральных каналах.