section#prices
	.container
		+gt('', 'Тарифы')
		.row
			.col-md-6
				.packet
					.packet-head
						h4.packet-head-title
					.packet-body
						.packet-body-cost
							p.cost-full 25.000руб.
							p.cost-today 18.000руб.
						p.packet-body-text В&nbsp;тариф входит:
						ul.packet-body-list
							li 1&nbsp;любой практикум
							li Постановка защиты на&nbsp;любую сферу жизни (здоровье, семья, финансы, самореализация)
							li Видео-трансляция по&nbsp;постановке защиты вместе с&nbsp;Анастасией Петровой
							li Доступ в&nbsp;общий чат в&nbsp;котором можно найти единомышленников
					.packet-footer
						+b('', '', '', 'Купить')
			.col-md-6
				.packet
					.packet-head
						h4.packet-head-title
					.packet-body
						.packet-body-cost
							p.cost-full 72.000руб.
							p.cost-today 59.900руб.
						p.packet-body-text В&nbsp;тариф входит:
						ul.packet-body-list
							li Все 4&nbsp;практикума
							li Постановка защиты на&nbsp;все сферу жизни (здоровье, семья, финансы, самореализация)
							li Видео-трансляция по&nbsp;постановке защиты вместе с&nbsp;Анастасией Петровой
							li Доступ в&nbsp;общий чат в&nbsp;котором можно найти единомышленников
					.packet-footer
						+b('', '', '', 'Купить')
		p.prices-text При внесении сегодня 1.000 руб на бронирование любого тарифа, цена сохраняется
		p.prices-text Можно приобрести при помощи внутренней или Тинькофф рассрочки (платеж от 5.000 руб в месяц)
		p.prices-text Наш отдел заботы всегда готов помочь Вам, если у вас остались вопросы
		+b('', '', '','Написать отделу заботы')